
li {
    list-style: none;
}
/*Início das configurações da header*/
header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color: #0f8bf1;

}
.brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0 0 0 5%;
}
/*Início das configurações da Navigation*/
.menu {
    width: 60%;
    height: 100%;
    float: right;
}
.menu ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu ul li {
    width: 20%;
    height: inherit;
    color: #222;
    display: inline-block;
    cursor: pointer;
}
.menu ul li:hover {
    background-color: #13578f;

    color: #fff;
}
#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
    }
    .menu ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
    	transition: max-height 0.3s;
    }
    .menu ul li {
        text-align: left;
        width: 100%;
        height: 50px;
        background-color: #0f8bf1;
        /* padding: 10px 0px 10px 5%; */
        margin: 0;
padding-left: 1rem;
    }
    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;

    }
    #menuToggle:checked ~ ul {
        max-height: 350px;
    }
    .menu-icon .menu-bars {
        font-size: 1.7em;
    }
}
